
:host{
    box-sizing: border-box;
    background: white;
    aspect-ratio: 1 / 1;
    width: 30px;
    height: fit-content !important;
    display: inline-grid !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: gray;
    border-radius: 50% !important;
    min-inline-size: fit-content !important;
    user-select: none !important;
    background-clip: content-box;
}

:host(:hover){
    cursor: pointer;
    border-color: black;
}

:host(:state(checked)),:host(:state(checked):state(disabled):hover){
    background-color: rgb(25, 100, 255);
    border-color: rgb(25, 100, 255);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='100%' width='100%' fill='none' stroke='white' stroke-width='20%'><circle cx='50%' cy='50%' r='40%'/></svg>");
}

:host(:state(checked):hover){
    background-color: rgb(30, 90, 200);
    border-color: rgb(30, 90, 200);
}

:host(:state(disabled)){
    opacity: 0.5;
    cursor: default;
}

:host(:state(disabled):hover){
    border-color: gray;
}

:focus-visible{
    outline: none;
}

:host(:not(:state(disabled)):state(focused)){
    border-color: black;
}

:host(:not(:state(disabled)):state(focused):state(checked)){
    background-color: rgb(30, 90, 200);
}

:host(:not(:state(disabled)):state(checked):state(active)){
    background-color: rgb(60, 120, 255);
    border-color: rgb(60, 120, 255);
}