:host{
    box-sizing: border-box;
    background: white;
    aspect-ratio: 1 / 1;
    width: 30px;
    height: fit-content !important;
    display: inline-grid !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: gray;
    border-radius: 5px !important;
    min-inline-size: fit-content !important;
    user-select: none !important;
}

:host(:hover){
    cursor: pointer;
    border-color: black;
}

:host(:state(checked)),:host(:state(checked):state(disabled):hover){
    background-color: rgb(25, 100, 255);
    border-color: rgb(25, 100, 255);
}

:host(:state(checked)){
    background-image: url('https://taurbalaur.github.io/HTML-elements-with-Web-Components/custom-checkbox/check-mark.svg');
    background-size: contain;
}

:host(:state(checked):hover){
    background-color: rgb(30, 90, 200);
    border-color: rgb(30, 90, 200);
}

:host(:state(disabled)){
    opacity: 0.5;
    cursor: default;
}

:host(:state(disabled):hover){
    border-color: gray;
}

:focus-visible{
    outline: none;
}

:host(:not(:state(disabled)):state(focused)){
    border-color: black;
}

:host(:not(:state(disabled)):state(focused):state(checked)){
    background-color: rgb(30, 90, 200);
}

:host(:not(:state(disabled)):state(checked):state(active)){
    background-color: rgb(60, 120, 255);
    border-color: rgb(60, 120, 255);
}